[submodule ".tmux/plugins/minimal-tmux-status"]
	path = .tmux/plugins/minimal-tmux-status
	url = https://github.com/niksingh710/minimal-tmux-status
[submodule ".tmux/plugins/tmux-pain-control"]
	path = .tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".tmux/plugins/tmux-yank"]
	path = .tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/fonts"]
	path = .config/fonts
	url = https://github.com/tarebyte/dotfiles-fonts
