.config/fish/completions
.config/fish/conf.d
.config/fish/fish_variables
.config/fish/functions/base16-*
.config/fish/functions/__*
.config/fish/functions/fisher.fish

.config/nvim/plugin/

.homebrew/Brewfile.lock.json
