#!/bin/sh
{{ if eq .chezmoi.os "darwin" -}}
# fish_plugins hash: {{ include "dot_config/fish/fish_plugins" | sha256sum }}
set -e

if [ "$(uname -m)" = "arm64" ]; then
	fish_path=/opt/homebrew/bin/fish
else
	fish_path=/usr/local/bin/fish
fi

echo "curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher && fisher update" | "$fish_path"
{{- end }}
