#!/bin/sh
{{ if eq .chezmoi.os "darwin" -}}
set -e

if [ "$(uname -m)" = "arm64" ]; then
	homebrew_prefix=/opt/homebrew
else
	homebrew_prefix=/usr/local
fi

if [ ! -d "$homebrew_prefix" ]; then
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{- end }}
