# vi: ft=toml
{{- if eq .chezmoi.os "darwin" }}
[tools]
dotnet = "latest"
go = "latest"
lua = "latest"
node = "lts"
python = "latest"
ruby = "latest"
rust = "latest"
"aqua:LuaLS/lua-language-server" = "latest"
"cargo:tree-sitter-cli" = "latest"
"npm:@github/copilot-language-server" = "latest"
"npm:bash-language-server" = "latest"
"npm:markdown-toc" = "latest"
golangci-lint = "v2.11.4"
{{- else if eq .chezmoi.os "linux" }}
[settings]
idiomatic_version_file_enable_tools = ["node"]

[tools]
node = "lts"
{{- end }}
